:root {
  --primary-color: #1992d4;
  --secondary-color: #f0b429;
  --background-color: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
}

#wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

/* == general styles == */

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

ul {
  list-style: none;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 10000px;
  object-fit: cover;
}

.btn {
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 10000px;
  height: fit-content;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--secondary-color);
  }
}

p {
  font-size: 0.9rem;
  color: #666;
}

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  .logo-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1.5rem;
    height: 1.5rem;
    gap: 3px;
    .box {
      background-color: white;
      height: 100%;
      &:first-child {
        grid-row: span 2;
      }
      &:last-child {
        grid-column: 2;
        grid-row: 2 / -1;
      }
    }
  }
  .logo-text {
    font-size: 1rem;
    font-weight: 600;
  }
}

/* == aside == */

aside#sidebar {
  background-color: var(--primary-color);
  color: white;
  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  gap: 2rem;
  nav {
    ul {
      display: grid;
      li {
        a {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          gap: 1rem;
          text-decoration: none;
          color: inherit;
          padding-block: 0.5rem;
          padding-inline: 1rem 3rem;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            /* opacity: 0.7; */
          }
        }
      }
    }
  }
}

/* == main == */

main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  & > * {
    padding: 1rem 2rem;
  }

  /* == header == */

  header {
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    gap: 1rem;
    #top-row {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 3rem;
      .search-bar {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1rem;
        input {
          border: none;
          background-color: var(--background-color);
          padding: 0.5rem 1rem;
          border-radius: 10000px;
        }
      }
      .user-info {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1rem;
        & > * {
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
        .user {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          gap: 0.5rem;
          font-weight: 600;
        }
      }
    }
    #actions-row {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      align-items: center;
      .user-info {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1rem;
        .user-avatar {
          width: 4rem;
          height: 4rem;
        }
        p {
          font-size: 1.2rem;
          font-weight: 600;
          color: inherit;
          small {
            font-size: 0.8rem;
          }
        }
      }
      .actions {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1rem;
      }
    }
  }

  /* == content == */
  #content {
    display: grid;
    grid-template-columns: 3fr minmax(250px, 1fr);
    gap: 1rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    #projects {
      .projects-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;

        .project-card {
          display: grid;
          grid-template-rows: auto 1fr auto;
          gap: 0.5rem;
          border-left: 0.5rem solid var(--secondary-color);
          padding-top: 2rem;
          p {
            margin-bottom: 2rem;
          }
          .project-actions {
            display: grid;
            grid-template-columns: 1fr repeat(2, auto);
            gap: 1rem;
            align-items: center;
            text-align: right;
            span {
              cursor: pointer;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
    aside {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 1rem;
    }
    .announcements-holder {
      display: grid;
      padding: 2rem;
      gap: 1rem;
      .announcement-item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
      }
    }
    .trending-holder {
      display: grid;
      padding: 2rem;
      gap: 1rem;
      .trending-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        p.user-handle {
          color: inherit;
          font-weight: 500;
        }
      }
    }
  }
}
